.categories{
    margin: 1em;

    .categories-title {
        margin: 0.5em;
    }

    .categories-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .category {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40%;
        gap: 1em;
        padding: 1em;
        margin: 1em;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #7F56D9;


        .category-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.25em;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}