@import url("feature/activity_card.css");
@import url("feature/navbar.css");
@import url("feature/popular_books.css");
@import url("feature/categories.css");
@import url("feature/due_date.css");
@import url("feature/calendar.css");
@import url("screen/login.css");
@import url("screen/show.css");

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: auto;
}

main {
    padding-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .desktop-nav,
    .desktop-title {
        display: none;
    }

    .popular-books {
        .popular-book{
            display: flex;
            flex-direction: column;
        }
    }

    .categories{
        .categories-container {
            display: flex;
            flex-direction: column;
        }
        .category {
            width: 80%;
        }
    }

    .book-container {
        display: flex;
        flex-direction: column;
    }

    .book-informations,
    .book-reviews {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .mobile-header,
    .mobile-nav {
        display: none;
    }
}

.popular-books {
    padding: 25px 45px;
}

.popular-books-container-home {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1em 0;
}

.popular-book-list-home {
    display: inline-flex;
    gap: 1em;
}

.popular-book-home {
    display: flex;
    flex: 1 1 calc(33% - 1em); 
    width: 450px;
    margin: 20px;
    align-items: center;
    transition: transform 0.2s;
}

.popular-book-home img {
    object-fit: contain;
    height: 30vh;
    width: auto;
    margin-right: 1em;
    border-radius: 10px;
}

.popular-book-content {
    max-width: 100%;
    display: flex;
    flex-direction: column; 
}

.popular-book-content h3,
.popular-book-content p {
    margin: 0; 
    white-space: normal;
}

.popular-book-home:hover {
    transform: scale(1.05); 
}