.resume {
    display: flex;
    margin-top: 50px;
}



.livre {
    display: flex;
    justify-content: left;
    margin-left: 30px;


    img {
        border-radius: 20px;
        object-fit: contain;
        height: 20vh;

    } 
}

.description {
    display: flex;
    flex-direction:column;
    justify-content: end;
    align-items: center;
    margin-left: 15px;
}

.rate {
    width: 30px;
    height: 30px;
    fill: orange;
    display: flex;
    justify-content: center;
    text-align: center;
}

.review {
    display: flex;
    justify-content: center;
    background-color: rgb(145, 88, 198);
    border-radius: 10px;
    align-items: center;
    border: 20px;
    height: 80px;
    width: 360px;
    margin-left: 25px;
    margin-top: 50px;
}

.pages {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
}

.yellowbar {
    background-color: yellow;
    height: 3px;
    width: 70px;
    border-radius: 20px;
    margin-top: 5px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    margin-left: 50px;

}

.logo {
    width: 30px;
    height: 30px;
}

.texteresume {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    max-width: 320px;

}


